html, body{
    height: 100%;
    width: 100%;
    
}
body {
    font-family: Verdana;
    background: linear-gradient(#85C1E9, #21618C);
    font-weight: center;
    text-align: center;
    color: #FFFFFF
    
    
   }
header {
    color: #FFFFFF
}

select, input{
    height: 35px;
    width: 150px;
}