<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{url_for('static',filename='img/logo.png')}}">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estiloserror.css')}}">
        <title>Colegio San Miguel</title> 
        
       </head>
       <body>
        <header>
            <h1>Colegio San Miguel</h1>
            <h3>Error: {{mensaje}}</h3>
         </header>
        </body>
</html>